<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Trips from {{departure_city}}</h1>
<div class="result-body">
    {% for j in destination_cities %}
    <div>
        <div style="float: left; width: 100%;">
        <h2>Destination city - {{j}}</h2>
        </div>
        <div style="float: left; width: 50%;">
            <table class="table">
                <caption>Поезда из города пребывания</caption>
                <tr>
                    <th>departure_city</th>
                    <th>destination_city</th>
                    <th>price</th>
                    <th>departure_day</th>
                    <th>departure_time</th>
                    <th>arrival_day</th>
                    <th>arrival_time</th>
                </tr>
                {% for i in lst_trains_start%}
                    {% if i.destination_city == j %}
                        <td>{{i.departure_city}}</td>
                        <td>{{i.destination_city}}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.departure_day}}</td>
                        <td>{{i.departure_time}}</td>
                        <td>{{i.arrival_day}}</td>
                        <td>{{i.arrival_time}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <br>
            <table class="table">
                <caption>Поезда из города путешествия</caption>
                <tr>
                    <th>departure_city</th>
                    <th>destination_city</th>
                    <th>price</th>
                    <th>departure_day</th>
                    <th>departure_time</th>
                    <th>arrival_day</th>
                    <th>arrival_time</th>
                </tr>
                {% for i in lst_trains_back%}
                    {% if i.departure_city == j %}
                        <td>{{i.departure_city}}</td>
                        <td>{{i.destination_city}}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.departure_day}}</td>
                        <td>{{i.departure_time}}</td>
                        <td>{{i.arrival_day}}</td>
                        <td>{{i.arrival_time}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div><br>
        <div>
            <table class="table">
                <caption>Точки интереса в городе путешествия</caption>
                <tr>
                    <th>name</th>
                    <th>address</th>
                    <th>ranking</th>
                    <th>rating</th>
                    <th>subcategory</th>
                </tr>
                {% for i in lst_objects%}
                    {% if i.city == j %}
                        <td>{{i.name}}</td>
                        <td>{{i.address}}</td>
                        <td>{{i.ranking}}</td>
                        <td>{{i.rating}}</td>
                        <td>{{i.subcategory}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div><br><br><br>
    </div>
    {% endfor %}
</div><br><br><br>
</body><br><br><br>
</html>